@font-face {
  font-family: 'Rob';
  src: url("../fonts/HLT.ttf");
  font-weight: 300;
}
@font-face {
  font-family: 'Rob';
  src: url("../fonts/HLT.ttf");
  font-weight: 400;
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

ul[class] {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Rob, sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
}

.wrapper {
  height: 100vh;
  margin: 50px 0 0 100px;
}

.calc {
  display: inline-grid;
  grid-template: 100px repeat(5, 60px)/repeat(4, 75px);
  gap: 2px;
  background: #5d5c5a;
}

.or {
  background: #f0a339;
}

.mg {
  background: #6c6b69;
}

.lg {
  background: #848381;
}

.top {
  grid-column: span 4;
}

#result {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 20px;
  padding-top: 5px;
  height: 70px;
  font-size: 60px;
  font-weight: 300;
}

.btn {
  cursor: pointer;
}

.btns {
  display: flex;
}

.btns__btn {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: none;
  margin: 5px 0px 5px 10px;
  cursor: pointer;
}

#red {
  background: #f3635a;
}

#green {
  background: #78ba4f;
}

#yellow {
  background: #ddc056;
}

#title-bar {
  grid-column: 1 / -1;
}

#num0 {
  grid-column: span 2;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
